* {
    background-color: #131516;
    font-family: 'Verdana', Geneva, sans-serif;
    width:80%;
    margin:auto;
}

body {
	min-width: 100%;
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto;
}

a:link {
	color: 0x8B1A55;
}

a:visited {
	color: 0x8B1A55;
}

a:hover {
	color: 0x8B1A55;
}

a:active {
	color: 0x8B1A55;
}

.gray {
    color: gray;
}
