* {
    background-color: #131516;
    font-family: 'Verdana', Geneva, sans-serif;
    width:80%;
    margin:auto;
}

body {
	min-width: 100%;
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto;
}

.topnav .icon {
  display: none;
}

.topnav {
  background-color: #131516;
  overflow: hidden;
}

.topnav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #333;
  color: white;
}

.topnav a.active {
  background-color: #333;
  color: white;
}

a:link {
	color: 0x8B1A55;
}

a:visited {
	color: 0x8B1A55;
}

a:hover {
	color: 0x8B1A55;
}

a:active {
	color: 0x8B1A55;
}

.gray {
    color: gray;
}
